# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# --------------------
# Eclipse or Nodeclipse "Enide Studio" Files
# --------------------
# recommended to add to Git SCM
# or generate with `nodeclipse -p` command
.project
.settings/
.*.md.html


# --------------------
# IntelliJ Files
# --------------------
*.iml
*.ipr
*.iws
.idea/

# --------------------
# Netbeans Files
# --------------------
nbproject/private/
build/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

# --------------------
# Node Files
# --------------------
.nodemonignore
npm-debug.log
node_modules/


# --------------------
# vim Files
# --------------------
*.swp

# --------------------
# Files
# --------------------
files/
